body, html {
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;  /* Centra horizontalmente */
  align-items: center;      /* Centra verticalmente */
  height: 110vh;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;                /* Espacio entre los elementos */
  width: 100%;
  max-width: 400px;         /* Limitar el tamaño máximo del formulario */
  padding: 20px;            /* Agregar un padding interno */
  border: 1px solid #ccc;
  background-color:rgb(97,94,91);/* Opcional: fondo del formulario */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 400px;
  border-radius: 20px
}

label{
  font-size: 20px;
  display: flex;
  text-align: center;
  position: relative;
  left: 150px;
  color: white;
}

input{
  height: 30px;
  border-radius: 20px;
  border: none;
}


.center-button {
  display: inline-block;
  text-align: center;
  width: 100%; /* Esto asegurará que el botón ocupe todo el ancho disponible */
  padding: 10px; /* Añade un poco de espacio interior */
  background-color: rgb(132,131,130);
  color: white; /* Color del texto */
  border: none; /* Sin borde */
  cursor: pointer;
  margin-top: 40px;
}

.center-button:hover {
  background-color: #0056b3; /* Cambia el color cuando se pase el mouse */
  color: white;
}
