<app-navbar-users></app-navbar-users>

<div class="container">
  <form [formGroup]=" registerForm" (ngSubmit)="onSubmit()">
    <label for="nombre">Nombre:</label>
    <input id="nombre" formControlName="username" type="text">

    <label for="email">Email:</label>
    <input id="email" formControlName="email" type="email">

    <label for="password">Contraseña:</label>
    <input id="password" formControlName="password" type="password">

    <button type="submit" class="center-button"  [disabled]="!registerForm.valid">Registrarse</button>
  </form>
</div>
