<div class="shopping-list-container">
  <h1>lista de compras</h1>

  <div class="shopping-cart">
    <img src="/assets/icons/icono1.png" alt="Carrito de compras">
  </div>

  <h2>productos a comprar</h2>

  <div class="product-list-container">
    <div class="product-column" *ngFor="let productChunk of chunkedProducts(products)">
      <div class="product-item" *ngFor="let product of productChunk">
        <span>{{ product.nameProduct+" " }}</span>
        <span>{{ product.description +" "}}</span>
        <span>{{ product.price | currency }}</span>
        <input type="checkbox" [checked]="isCompleted(product.nameProduct)" (change)="toggleComplete(product.nameProduct)">
        <button (click)="removeProduct(product.nameProduct)">🗑️</button>
      </div>
    </div>
  </div>

  <div class="add-button">
    <button (click)="addProduct()">+</button>
  </div>
</div>
