<form [formGroup]="formProduct" (ngSubmit)="onAddProduct()">
    <label for="nombre">Nombre:</label>
    <input id="nombre" formControlName="nameProduct" type="text">

    <label for="descripcion">Descripción:</label>
    <input id="descripcion" formControlName="description" type="text">

    <label for="precio">Precio:</label>
    <input id="precio" formControlName="price" type="number">

    <!-- Campo de selección de categoría -->
    <label for="categoria">Categoría:</label>
    <select id="categoria" formControlName="category">
        <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
    </select>

    <button type="submit" class="center-button" [disabled]="!formProduct.valid">Agregar Producto</button>
</form>
