form {
  background-color: #1a1a1a; /* Fondo negro suave */
  padding: 20px;
  border-radius: 8px;
  width: 600px;
  height: 500px;
  margin: 0 auto; /* Centrado horizontal */
  color: #ffffff; /* Texto blanco */
  font-family: Arial, sans-serif;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra para dar profundidad */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:15px; /* Espacio uniforme entre elementos */
  position: relative;
  top: 100px;
}

form label {
  align-self: flex-start;
  font-weight: bold;
  color: #e6e6e6; /* Texto gris claro */
  margin-bottom: 4px; /* Espacio pequeño debajo de la etiqueta */
  font-size: 14px;
}

form input{
  width: 90%; /* 90% del ancho del formulario */
  padding: 10px;
  border: 1px solid #666666; /* Borde gris oscuro */
  border-radius: 5px;
  background-color: #333333; /* Fondo gris oscuro */
  color: #ffffff; /* Texto blanco */
  font-size: 16px;
  transition: border-color 0.3s;
}

form select{
  width: 93%; /* 90% del ancho del formulario */
  padding: 10px;
  border: 1px solid #666666; /* Borde gris oscuro */
  border-radius: 5px;
  background-color: #333333; /* Fondo gris oscuro */
  color: #ffffff; /* Texto blanco */
  font-size: 16px;
  transition: border-color 0.3s;
}

form input:focus,
form select:focus {
  border-color: #ffffff; /* Borde blanco en enfoque */
  outline: none;
}

.center-button {
  width: 90%; /* Igual ancho que los inputs y select */
  padding: 10px;
  background-color: #000000; /* Fondo negro */
  color: #ffffff; /* Texto blanco */
  border: 1px solid #ffffff; /* Borde blanco */
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  position: relative;
  top: 70px;
  
}

.center-button:hover {
  background-color: #ffffff; /* Fondo blanco en hover */
  color: #000000; /* Texto negro en hover */
}

.center-button:disabled {
  background-color: #666666; /* Fondo gris para botón deshabilitado */
  color: #cccccc; /* Texto gris claro para botón deshabilitado */
  cursor: not-allowed;
}
